﻿html, body
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family:Roboto;
    background-color:#FAFAFA;
}


.header {
    background-color:#009688;
    color:white;
    padding:5px;
    text-align:center;
}
.nav {
    line-height:30px;
	background-color:#eeeeee;
    width:70px;
    text-align:center;
    float:left;
    padding:0px;
    overflow:auto;
     
}
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-nav {
    float: left;
}

.a-nav:link, .a-nav:visited {
    display: block;
    width: 70px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.a-nav:hover, .a-nav:active {
    background-color: #B2DFDB;
}
.section {
	width:90%;
    float:left;
    padding:10px;
    overflow:auto;
}


.sidebar {
	width: 20%;
	float:left;
	padding:10px;
	overflow:auto;
}
.footer {
    background-color:#009688;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

.img {
	max-width:100%;
	max-height:100%;
}